In [15]:
# import pandas

import pandas as pd
import numpy as np

In [23]:
# read your csv in
df = pd.read_csv('../data/warn.csv')
df.head(15)

,notice_date,event_number,reason,company,address,county,phone,business_type,affected,total_employees,layoff_date,dislocation,union,classification
0,5/4/2020,2019-1606,Temporary Plant Closing,"Hartz Hotel Services, Inc. (manager of The Rox...","2 Avenue of the Americas New York, NY 10013",New York County,(201) 272-5800,Hotel,79,79,5/15/2020,Unforeseeable business circumstances prompted ...,The employees are not represented by a union.,Temporary Plant Closing
1,5/5/2020,2019-1607,Plant Closing,RR Donnelley (TuckerPrinters facility),"270 Middle Rd. Henrietta, NY 14467",Monroe County,(716) 564-6469,Commercial Printing,33,33,5/5/2020,Unforeseeable business circumstances prompted ...,The employees are not represented by a union.,Plant Closing
2,4/28/2020,2019-1612,Plant Layoff,TripAdvisor LLC,"17 Battery Place New York, NY 10004",New York County,(781) 800-5341,American online travel company,36,36,5/5/2020,Unforeseeable business circumstances prompted ...,The employees are not represented by a union.,Plant Layoff
3,4/15/2020,2019-1613,Temporary Plant Layoff,"PBM, LLC (Perfect Building Maintenance)","405 Lexington Avenue, 40th Floor New York, NY ...",New York County,(212) 244-3434,Building maintenance and cleaning services,349,0,3/9/2020,Unforeseeable business circumstances prompted ...,Local 32BJ SEIU,Temporary Plant Layoff
4,5/4/2020,2019-1602,Temporary Plant Layoff,"NRG Energy, Inc. (Green Mountain Energy NYC Of...","16 Madison Square Park West, 12th Floor New Yo...",New York County,(713) 537-2187,Renewable Energy Provider,71,0,Beginning,Unforeseeable business circumstances prompted ...,The employees are not represented by a union.,Temporary Plant Layoff
5,5/4/2020,2019-1603,Temporary Plant Closing,"CPS5, LLC (CPS Events at the Plaza)","770 5th Avenue New York, NY 10019",New York County,(646) 265-6952,Event Planners/Caterers,125,125,3/16/2020,Unforeseeable business circumstances prompted ...,"New York Hotel & Motel Trades Council, AFL-CIO...",Temporary Plant Closing
6,4/30/2020,2019-1604,Temporary Plant Closing,"JAD Transportation, Inc. Twin America, LLC, R....","1430 Broadway, Suite 507 New York, NY 10018",New York County,(212) 235-5850,Transporation Services,550,550,3/18/2020,Unforeseeable business circumstances prompted ...,"United Service Workers Union, Local 1212, the ...",Temporary Plant Closing
7,5/4/2020,2019-1605,Temporary Plant Closing,"Hartz Hotel Services, Inc. (manager of the Soh...","310 W. Broadway New York, NY 10013",New York County,(201) 272-5800,Hotel,109,109,5/15/2020,Unforeseeable business circumstances prompted ...,The employees are not represented by a union.,Temporary Plant Closing
8,4/17/2020,2019-1591 â€“ 2019-1596,Temporary Plant Layoff,"Eat'n Park Hospitality Group, Inc. (Parkhurst ...",(Multiple Region sites),Chemung County,(412) 461-2000 Ext,Restaurant,180,180,Separations,Unforeseeable business circumstances prompted ...,"CSEA, Local 1000",Temporary Plant Layoff
9,5/1/2020,2019-1589,Plant Layoff,"Collins Building Services, Inc.",Multiple New York City and Long Island sites,New York/Kings County,(212) 896-5100,Quality cleaning and maintenance services,435,495,Employee,Unforeseeable business circumstances prompted ...,Realty Advisory Board and SEIU Local 32BJ,Plant Layoff
10,4/14/2020,2019-1588,Plant Layoff,Hertz,John F Kennedy International Airport 312 Feder...,New York/Queens County,(239) 301-7018,Car Rentals,78,78,Separations,Unforeseeable business circumstances prompted ...,"IBT, Local 272 and IAM, District 15",Plant Layoff
11,4/30/2020,2019-1587,Temporary Plant Layoff,"All County Bus, LLC","70 Fernbrook St. Yonkers, NY 10705",Westchester County,(914) 963-9600 Ext,Transportation,407,407,3/16/2020,School closing mandated by the State of New Yo...,"Local 811 Warehouse, Production, Sales and All...",Temporary Plant Layoff
12,4/21/2020,2019-1525,Plant Layoff,GCT New York LP (Global Container Terminals USA),"300 Western Avenue Staten Island, NY 10303",Richmond County,(201) 779-4537 (work cell phone),Marine Cargo Handling,To,0,5/15/2020,Early contract termination by Maersk Lines. Th...,International Longshoremanâ€™s Association (ILA)...,Plant Layoff
13,4/27/2020,2019-1582,Temporary Plant Layoff,"OS Restaurant Services, LLC (Bloomin Brands- O...",Multiple Central Region locations,Onondaga County,(813) 282-1225,Restaurant,174,174,3/15/2020,Unforeseeable business circumstances prompted ...,The employees are not represented by a union.,Temporary Plant Layoff
14,4/27/2020,2019-1585,Temporary Plant Closing,"OS Restaurant Services, LLC (Bloomin Brands - ...",Multiple Capital Region locations,Albany/Saratoga/Warren County,(813) 282-1225,Restaurant,260,260,3/15/2020,Unforeseeable business circumstances prompted ...,The employees are not represented by a union.,Temporary Plant Closing

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1225 entries, 0 to 1224
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   notice_date      1225 non-null   object
 1   event_number     1225 non-null   object
 2   reason           1225 non-null   object
 3   company          1225 non-null   object
 4   address          1224 non-null   object
 5   county           1225 non-null   object
 6   phone            1225 non-null   object
 7   business_type    1225 non-null   object
 8   affected         1225 non-null   object
 9   total_employees  1225 non-null   int64
 10  layoff_date      1222 non-null   object
 11  dislocation      1225 non-null   object
 12  union            1225 non-null   object
 13  classification   1225 non-null   object
dtypes: int64(1), object(13)
memory usage: 134.1+ KB

In [18]:
df = df.fillna(0)

In [24]:
df = df[df['affected'] != 'To'].copy()

In [31]:
df['affected'] = df['affected'].astype(int)
df['total_employees'] = df['total_employees'].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1224 entries, 0 to 1224
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   notice_date      1224 non-null   object
 1   event_number     1224 non-null   object
 2   reason           1224 non-null   object
 3   company          1224 non-null   object
 4   address          1223 non-null   object
 5   county           1224 non-null   object
 6   phone            1224 non-null   object
 7   business_type    1224 non-null   object
 8   affected         1224 non-null   int64
 9   total_employees  1224 non-null   int64
 10  layoff_date      1221 non-null   object
 11  dislocation      1224 non-null   object
 12  union            1224 non-null   object
 13  classification   1224 non-null   object
dtypes: int64(2), object(12)
memory usage: 143.4+ KB

In [3]:
# the rest of analysis is up to you! what kinds of questions can you ask this dataset?
#geography, type of biz, timeline, temporary vs closing, change over time, total employees

In [32]:
#reason for closing
df['reason'].unique()

array(['Temporary Plant Closing', 'Plant Closing', 'Plant Layoff',
       'Temporary Plant Layoff', 'Temporary Layoff',
       'Temporary Plant Closing and Plant Closing',
       'Temporary & Permanent Layoff', 'Temporary Plant \nClosing',
       'Temporary Plant \nLayoff',
       'Temporary Plant Layoff and Plant Closing',
       'Temporary Reduction in Work Hours',
       'Temporary Plant Layoff/Plant Layoff',
       'Temporary Plant Layoff (Furlough)', 'Plant Layoff (Conditional)',
       'Temporary PLant Layoff', 'Temporary PlantClosing',
       'Temporary Closing', 'Possible Plant Layoff/Closing',
       'Temporary Palnt Closing', 'Plant Temporary Closing', 'Plant Sale',
       'Contract Dissolution', 'Plant Unit Closing',
       'Tempoarary Plant Closing', 'Plant Relocation',
       'Partial Temporary Closing', 'Temporary Plant Layoff/Closing',
       'Plant Demolition', 'Temporary Partial Plant Closing',
       'Temporary Plant Closing/Layoff', 'TemporaryPlant Closing',
       'Temporary Unit Closing', 'Temporary Plant  Closing',
       'Temporary  Plant Layoff', 'Temporary  Plant Closing',
       'Temporary Plant  Layoff'], dtype=object)

In [33]:
df['reason'].value_counts()

Temporary Plant Layoff                       584
Temporary Plant Closing                      440
Plant Closing                                 79
Plant Layoff                                  67
Temporary Layoff                              11
Temporary Closing                              7
Temporary  Plant Closing                       3
Temporary Plant Layoff (Furlough)              3
Plant Unit Closing                             3
Partial Temporary Closing                      1
Plant Sale                                     1
Temporary Plant  Closing                       1
Temporary Plant Layoff/Closing                 1
Temporary PLant Layoff                         1
Temporary Partial Plant Closing                1
Temporary Reduction in Work Hours              1
Temporary Plant \nLayoff                       1
Temporary Plant Layoff and Plant Closing       1
Temporary Plant \nClosing                      1
Contract Dissolution                           1
Plant Relocation                               1
Temporary Plant  Layoff                        1
Temporary PlantClosing                         1
Temporary Plant Layoff/Plant Layoff            1
Plant Temporary Closing                        1
Possible Plant Layoff/Closing                  1
Tempoarary Plant Closing                       1
Temporary Unit Closing                         1
Temporary Plant Closing and Plant Closing      1
Temporary  Plant Layoff                        1
Temporary Palnt Closing                        1
Temporary Plant Closing/Layoff                 1
Plant Demolition                               1
TemporaryPlant Closing                         1
Temporary & Permanent Layoff                   1
Plant Layoff (Conditional)                     1
Name: reason, dtype: int64

In [34]:
df.loc[df['reason'].isin(['Temporary PlantClosing', 
                          'TemporaryPlant Closing', 
                          'Temporary Plant \nClosing',
                          'Temporary Plant  Closing',
                          'Temporary Palnt Closing',
                          'Temporary Closing',
                          'Temporary  Plant Closing', 
                          'Temporary Unit Closing',
                          'Plant Temporary Closing',
                          'Temporary Plant Closing and Plant Closing'
                          'Temporary Partial Plant Closing',
                          'Partial Temporary Closing',
                          'Tempoarary Plant Closing']), 'reason'] = 'Temporary Plant Closing' 
df.loc[df['reason'].isin(['Temporary Plant  Layoff', 
                          'Temporary PLant Layoff', 
                          'Temporary  Plant Layoff',
                          'Temporary Plant Layoff/Plant Layoff',
                          'Temporary Plant Layoff (Furlough)',
                          'Temporary Plant \nLayoff',
                          'Temporary Layoff'
                          ]), 'reason'] = 'Temporary Plant Layoff'
df.loc[df['reason'].isin(['Plant Unit Closing']), 'reason'] = 'Plant Closing'
df.loc[df['reason'].isin(['Plant Layoff (Conditional)',
                          'Possible Plant Layoff']), 'reason'] = 'Plant Layoff'

In [35]:
reasons = df['reason'].value_counts().reset_index().rename(columns = {'index': 'reason', 'reason': 'count'})
reasons

                                       reason  count
0                      Temporary Plant Layoff    603
1                     Temporary Plant Closing    459
2                               Plant Closing     82
3                                Plant Layoff     68
4              Temporary Plant Layoff/Closing      1
5                Temporary & Permanent Layoff      1
6                            Plant Demolition      1
7              Temporary Plant Closing/Layoff      1
8   Temporary Plant Closing and Plant Closing      1
9                            Plant Relocation      1
10            Temporary Partial Plant Closing      1
11                                 Plant Sale      1
12                       Contract Dissolution      1
13          Temporary Reduction in Work Hours      1
14   Temporary Plant Layoff and Plant Closing      1
15              Possible Plant Layoff/Closing      1

In [37]:
reasons.to_csv('../data/reasons.csv', index=False)

In [38]:
df[df['reason'] == 'Plant Closing']

,notice_date,event_number,reason,company,address,county,phone,business_type,affected,total_employees,layoff_date,dislocation,union,classification
1,5/5/2020,2019-1607,Plant Closing,RR Donnelley (TuckerPrinters facility),"270 Middle Rd. Henrietta, NY 14467",Monroe County,(716) 564-6469,Commercial Printing,33,33,5/5/2020,Unforeseeable business circumstances prompted ...,The employees are not represented by a union.,Plant Closing
22,4/30/2020,2019-1601,Plant Closing,"Truck-Lite Co, LLC","310 E. Elmwood Avenue Falconer, NY 14733",Chautauqua County,(716) 661-1141,Producer of LED safety lighting,97,97,Layoffs,Economic,International Association of Machinists and Ae...,Plant Closing
39,4/30/2020,2019-1568,Plant Closing,"Ivy Rehab Network, Inc.",Central Billing Office 1377 Motor Pkwy. Island...,Suffolk County,(914) 777-8700,Medical Billing,36,0,5/6/2020,Unforeseeable business circumstances prompted ...,The employees are not represented by a union,Plant Closing
49,4/28/2020,2019-1537 and 2019-1579,Plant Closing,Brookset Bus Corp.,(Nine Brookset Bus Corp. locations in Long Isl...,Nassau/Suffolk County,(631) 471-4600,Transportation,132,132,March,The Companyâ€™s initial temporary layoffs were u...,Teamsters Local 1205; United Service Workers U...,Plant Closing
50,4/28/2020,2019-1535 and 2019-1578,Plant Closing,"Baumann & Sons Buses, Inc.","(Six Baumann & Sons Buses, Inc. locations in L...",Suffolk County,(631) 471-4600,Transportation,209,209,March,The Companyâ€™s initial temporary layoffs were u...,"Teamsters Local 1205, United Service Workers U...",Plant Closing
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1219,1/7/2020,2019-0209,Plant Closing,Branson Ultrasonics Corp.,"475 Quaker Meeting House Road Honeoye Falls, N...",Monroe County,(203) 796-0331,Welding and Soldering Equipment Manufacturing,47,47,Separations,Economic,The employees are not represented by a union.,Plant Closing
1220,1/8/2020,2019-0210,Plant Closing,"Connected Ventures, LLC (CH Media)","330 W. 34th Street, 5th Floor New York, NY 10001",New York County,(212) 314-7366,Operates online content and retail properties,39,39,Employment,Economic,The employees are not represented by a union.,Plant Closing
1221,1/6/2020,2019-0207,Plant Closing,Macy's Broadway Mall Store (Macy's Retail Hold...,"100 Broadway Mall Hicksville, NY 11801",Nassau County,(646) 429-7462,Retail Store,155,155,Macy's,Economic,The employees are not represented by a union.,Plant Closing
1223,12/30/2019,2019-0205,Plant Closing,"127 W. 43rd St. Chophouse, Inc. (Heartland Bre...","127 West 43rd Street New York, NY 10018",New York County,(917) 999-6532,Restaurant,106,106,The,Economic,The employees are not represented by a union.,Plant Closing
1224,12/30/2019,2019-0201,Plant Closing,"New York Express and Logistics, LLC","292 Wolf Road Latham, NY 12110",Albany County,(617) 968-5311,Trucking company providing freight transportat...,48,48,3/31/2020,Contract between New York Express and Logistic...,The employees are not represented by a union.,Plant Closing

In [39]:
#type of businesses with the most WARN notices
df['business_type'].unique()

array(['Hotel', 'Commercial Printing', 'American online travel company',
       'Building maintenance and cleaning services',
       'Renewable Energy Provider', 'Event Planners/Caterers',
       'Transporation Services', 'Restaurant',
       'Quality cleaning and maintenance services', 'Car Rentals',
       'Transportation', 'Producer of LED safety lighting', 'Car Rental',
       'Travel Agency', 'Family planning services', 'Retail',
       'Janitorial Services', 'Gem Research, Education, and Laboratory',
       'Labor Union', 'Non-profit', 'Medical Billing', 'Event Venue',
       'Convention Center', 'Social Organization', 'Cinemas', 'Catering',
       'Mechanical Contractor', 'Social Club', 'Human Services',
       'Wine Wholesaler', 'General Contractor', 'Production Company',
       'Janitorial Engineering', 'Fitness Club', 'Legal Services',
       'Shoe Store', 'Carpentry Organization',
       'Lumber and Building Material Distribution',
       'Transportation Carrier', 'Food preparation and delivery services',
       'Outdoor Lounge/Restaurant', 'Bakery', 'Eye Care',
       'Plumbing, Heating, PVF, Waterworks, and Fire Protection Supplies',
       'Plumbing, Heating, PVF, Fire Protection, and Waterworks Supplies',
       'Manufacturing', 'Day Camp', 'Airline Services',
       'Healthcare Center', 'Home automation', 'Event Company',
       'Miscellaneous Home Furnishings Store', 'Rental Car',
       'Plumbing and Heating',
       'Visual Effects and Post Production Services',
       'Commercial Real Estate Services', 'Medical Facility',
       'Interior Design', 'Retail Store', 'Health Care',
       'Wafer fab, assembly, and test operations', 'School',
       'Air Compressor Manufacturer', 'Diagnostic Imaging Center',
       'Waste Services and Material Recycling', 'Security Services',
       'Airport Services', 'Cosmetic Manufacturing',
       'Cosmetic Manufacturer', 'Environmental Consulting',
       'Medical Laboratory', 'Building Services', 'Electric Company',
       'Provides ground, cargo and passenger services', 'Bank',
       'Movie Theatre', 'PR Consulting',
       'Human services non-profit organization sponsored by the Catholic Charities of the Archdiocese of New York with programs that help a large needy population in the New York metropolitan area.',
       'Theater', 'Wholesale Distribution', 'Travel and Tourism',
       'Clothing Retail', 'Consulting Group', 'Auto Dealership',
       'Communication, Public Relations', 'Solar Energy Equipment',
       'Media Company', 'Sheet Metal Contractor',
       'Executive Events Company', 'Retail clothing store',
       'Same-day grocery delivery and pick-up service', 'Manufacturer',
       'Internet Retail', 'Broth Shop',
       'Designer, Distribution and Licensor of Apparel',
       'Payroll & HR Services', 'Museum', 'Suit Retail',
       'Fiberglass Manufacturing', 'Travel Center',
       'Consumer Electronics Company', 'Moulding Wholesaler',
       'Medical Imaging', 'Electrical Contracting', 'Airline',
       'Cleaning Services', 'Realty', 'Home Health Care', 'Auction House',
       'Computer Networking', 'Concrete Supplier', 'Cement Plant',
       'Transportation and Logistics', 'Investment Services', 'Auto Shop',
       'Ophthalmologist/Optician', 'Ophthalmologist', 'Dentist',
       'Paper Retailer', 'Musical Instrument Sales',
       'Aviation consultant', 'Leather Wholesaler', 'Software Company',
       'Asphalt Contractor', 'Community Working Space', 'Adolescent Care',
       'Public relations', 'Theatre Company', 'Movie Theater',
       'Employment Agency', 'Accounting and Financial Services',
       'Countertop Sales', 'Car dealership',
       'Custom fabricator of architectural metal', 'Auto dealership',
       'Auto Body Shop', 'Fire Prevention/Sprinkler Services',
       'Auto Sales', 'Hunting Club', 'Financial Institution', 'Marketing',
       'Optical Retailer', 'Ski Resort', 'Cleaning and Flooring',
       'Hydraulic Repair Service', 'Iron Manufacturer', 'Contracting',
       'Courier Service', 'FaÃ§ade Manufacturing', 'Duck Farming',
       'Online Fitness', 'Online Recommendations',
       'Commercial real estate company',
       'Excavation, Pile Drilling, and Foundations', 'Pool Manufacturer',
       'Country Club', 'Building Materials Supplier',
       'Obstetrics and Gynecology', 'Heating and Cooling',
       'Limousine Service', 'Gym', 'Orthopedics', 'Jewelry Sales',
       'Network Provider', 'Airport Restaurant', 'Bus Transit',
       'Clothing Manufacturer', 'Excavating Contractor',
       'Plastic Manufacturing', 'Footwear Retailer',
       'Bedding, Bath, and window Manufacturing',
       'Supply Chain Management', 'Mechanical Systems Building',
       'Insulation Contractor', 'Furniture', 'Collision Repair',
       'Community Center', 'Stone Quarry', 'Linen and Uniforms',
       'Architectural Metal and Glass Manufacturing',
       'Water Manufacturer', 'Contracting Company', 'Duck Farm',
       'Digital Marketing', 'Musical Instrument Rental', 'Day Spa',
       'Attorney', 'Golf Course', 'Event Planning',
       'Electronic Instrument Manufacturer', 'Animal Feed Store',
       'Neurology Health Care Provider', 'Collection Agency',
       'Youth Club', 'Wholesale Bakery', 'Beauty Salon Equipment',
       'Auto Dealer', 'Law Firm', 'Tree service',
       'Security System Installation', 'Closets and Storage',
       'Watch, Guard, Patrol Agency',
       'Dental equipment distribution and manufacturing',
       'Optometry Offices', 'Global tech media company', 'Footwear',
       'Parking Service/Locations', 'Commercial Cleaning',
       'Architecture Firm', 'Art Storage and Services', 'Electricians',
       'Custom auto interior parts for classic car restoration',
       'Go-kart track', 'Industrial Machinery & Equipment',
       "Attorney's Office", 'Promotional Product Supplier',
       'Casino Hotel', 'Waxing Services', 'Electrical Supply Store',
       'Health Care Provider - Mammography', 'Education and Child Care',
       'Transportation Company', 'Refrigeration Wholesaler',
       'Sporting Goods', 'Fire Sprinkler Installation',
       'Studio Equipment', 'Physcial and Occupational Therapy',
       'Physical and Occupational Therapy', 'Undergarments',
       'Machine Shop', 'Linen and Uniform Supply',
       'Retail & Light Manufacturing', 'Social services organization',
       'Clothing Store', 'Cellular Sales', 'Call Center', 'Toy Store',
       'an American clothing brand and retailer',
       'Modern Japanese restaurant', 'Music Venue', 'Satellite Supplies',
       'Resort Hotel', 'Linen Supply', 'Emergency Relief',
       'Wellness Center', 'Food Distribution', 'Real Estate',
       'Medical Equipment', 'Portfolio Management', 'Construction',
       'Real Estate Manager and Developer', 'Coffee Shop',
       'Meat Wholesaler', 'Car Dealership', 'Home Furnishing',
       'Sanitation', 'Consulting', 'Animal Wellness and Care',
       'Data Analytics Service Provider', 'Carpet Cleaning Service',
       'Integrated Media Entertainment', 'Ticket Sales', 'Software',
       'Ambulatory Surgery Center', 'Catering Staffing', 'Hospitality',
       'Audio, Visual and Lighting', 'Denim Retailer',
       'Watch Manufacturing', 'Airport Retail', 'Party Rental',
       'Childhood Center', 'Airline Security', 'Award Manufacturer',
       'Automobile Sales', 'Logistics and Supply Chain Solutions',
       'Mattress Store', 'Winter Sports Center', 'Motor Vehicle Sales',
       'Furniture Store', 'Physcial Therapist', 'Human Services Agency',
       'Telemarketing', 'Debt Collection', 'Healthcare',
       'Waste disposal and removal services', 'Jewelry Store',
       'Perfume Manufacturing', '-----', 'Advertising', 'Hair Salon',
       'Leading global IT services company', 'Amusement Machine Supplier',
       'Hotel and Restaurant', 'Resort', 'Fragrance Manufacturing',
       'Airline Sales', 'Catering/Event Venue', 'Daycare',
       'Clothing Manufacturing', 'Creamery', 'Salon', 'Venue',
       'Airport Support', 'Education', 'Distribution',
       'Interior designer', 'French Restaurant',
       'Performing Arts Theater', 'Photographic equipment and Supplies',
       'Theatrical, architectural, film and video lighting',
       'Health group practice', 'Production  Company',
       'Catering business',
       'Providing temporary and long-term housing accommodations for relocated individuals and corporate officials',
       'Manages the production and distribution for Gannettâ€™s domestic daily newspapers',
       'Pharmaceuticals (production)', 'Manufacturer of capacitors',
       'A 675-megawatt coal-fired power plant',
       'A global defense technology leader',
       'Paratransit transportation throughout the 5 boroughs of New York City.',
       'Acute Care Hospital',
       'Produces  and distributes numerous brands of bottled water across North America.',
       'Viacom operates as an entertainment media company that offers television programs and motion pictures.',
       'Parking facility servicing the LaGuardia Airport',
       'Programs for persons with development disabilities.',
       'Wholesale grocer', 'Transportation Services',
       'Drug distribution company',
       'Members-only personal shopping and concierge service',
       'Developing private incubated brands across multiple categories of Health, Beauty, & Wellness, Fashion, and Home furnishing products.',
       'Retail Corporate offices', 'Banking  Services',
       'Wholesale distributor of Janitorial and Industrial Supplies',
       'Providing investment management and research services',
       'Retail  and auto store', 'Retail store', 'Daily newspaper',
       'Provide complete source for lab systems and sustainable, adaptable casework of painted steel, wood or stainless steel complete with specified fixtures, fume hoods and work surfaces.',
       'Leading  healthcare improvement company',
       'New York City-based online monthly subscription service that sends its subscribers a box of four to five selected samples of makeup, or other beauty related products..',
       'Clinical Services', 'General Medical & Surgical Hospital',
       'Health and fitness center',
       'Human services non-profit organization with programs that help a large needy population in the New York metropolitan area.',
       'Manufacturer of air & gas compressors',
       'American premium channel owned by the Home Box Office, Inc.',
       'Non-profit organization', 'Health Plans', 'Publishing company',
       'LawFirm', 'Hobby, Toy, and Game Stores',
       'Welding and Soldering Equipment Manufacturing',
       'Operates online content and retail properties', 'Nursing Home',
       'Trucking company providing freight transportation services and hauling cargo'],
      dtype=object)

In [40]:
df['business_type'].value_counts().reset_index()

                                         index  business_type
0                                   Restaurant            482
1                                        Hotel            140
2                                       Retail             39
3                              Auto Dealership             24
4                                     Catering             16
..                                         ...            ...
351         Health Care Provider - Mammography              1
352                          Concrete Supplier              1
353  Quality cleaning and maintenance services              1
354                 Manufacturer of capacitors              1
355                                Auto Dealer              1

[356 rows x 2 columns]

In [41]:
df['dislocation'].value_counts().reset_index().rename(columns={'index': 'dislocation', 'dislocation': 'count'})

                                          dislocation  count
0   Unforeseeable business circumstances prompted ...   1098
1                                            Economic     57
2   Unforeseeable  business circumstances prompted...      8
3                                    Sale of Business      3
4   Unforeseen business circumstances as a result ...      3
5   The Companyâ€™s initial temporary layoffs were u...      3
6   EconomicUnforeseeable business circumstances p...      2
7   Restructuring which will involve the relocatio...      2
8                                   Budgetary Deficit      2
9                        Expiration of building lease      1
10  Contract between New York Express and Logistic...      1
11  Sale of the business to a buyer who is relocat...      1
12           Restructure of the New York Metro market      1
13  Landlord's decision to cease operating the par...      1
14  Consolidation of revenue cycle functions/closu...      1
15                             Relocation to Colorado      1
16  Due to a substantial loss of contract funding ...      1
17  School closing mandated by the State of New Yo...      1
18  The contract between Swissport and the Port Au...      1
19                                     Reorganization      1
20  The decision was made to integrate conversatio...      1
21                                      Contract Loss      1
22                                   Sale of business      1
23  Catholic Guardian Services has decided to disc...      1
24                               Sale of the business      1
25  Relocation of Corporate Headquarters to Nashvi...      1
26  The MTA did not renew contract which expires M...      1
27  Newspaper production will be consolidated to t...      1
28                          Due to a water line break      1
29  The production work is moving to another compa...      1
30  Economic and stricter new State air emission r...      1
31  The Companyâ€™s initial temporary layoffs were u...      1
32                  Relocating facility to Minnesota.      1
33                                         Relocation      1
34              Sale of business to Republic Services      1
35  GNYHA Management Corporation has announced the...      1
36  Sale of heritage Dresser-Rand / SGT Government...      1
37  Unforeseen business circumstances as a result ...      1
38  They are integrating many of these incubated b...      1
39  Due to an operational change to optimize the R...      1
40                                    Loss of funding      1
41                                   Loss of Contract      1
42              Maria Russo, Human Resources Director      1
43                                Expiration of lease      1
44  Reduction in workload due to a change in busin...      1
45  Merger with Troutman Sanders and to become kno...      1
46                      Discontinuation of operations      1
47                                    Sale of Company      1
48  Economic and unforeseen business circumstances...      1
49                      Acquisition by Community Bank      1
50                             Company Reorganization      1
51   Loss of Contract with New York Transit Authority      1
52  Death of Company President and Unforeseeable b...      1
53  Winding down its in-store operations across Fa...      1
54  Contract termination by Metropolitan Transit A...      1

In [42]:
df.loc[df['dislocation'].str.contains('COVID-19'), 'dislocation'] = 'COVID-19'
dislocation = df['dislocation'].value_counts().reset_index().rename(columns={'index': 'dislocation', 'dislocation': 'count'})

In [43]:
df[df['dislocation'] == 'COVID-19']

,notice_date,event_number,reason,company,address,county,phone,business_type,affected,total_employees,layoff_date,dislocation,union,classification
0,5/4/2020,2019-1606,Temporary Plant Closing,"Hartz Hotel Services, Inc. (manager of The Rox...","2 Avenue of the Americas New York, NY 10013",New York County,(201) 272-5800,Hotel,79,79,5/15/2020,COVID-19,The employees are not represented by a union.,Temporary Plant Closing
1,5/5/2020,2019-1607,Plant Closing,RR Donnelley (TuckerPrinters facility),"270 Middle Rd. Henrietta, NY 14467",Monroe County,(716) 564-6469,Commercial Printing,33,33,5/5/2020,COVID-19,The employees are not represented by a union.,Plant Closing
2,4/28/2020,2019-1612,Plant Layoff,TripAdvisor LLC,"17 Battery Place New York, NY 10004",New York County,(781) 800-5341,American online travel company,36,36,5/5/2020,COVID-19,The employees are not represented by a union.,Plant Layoff
3,4/15/2020,2019-1613,Temporary Plant Layoff,"PBM, LLC (Perfect Building Maintenance)","405 Lexington Avenue, 40th Floor New York, NY ...",New York County,(212) 244-3434,Building maintenance and cleaning services,349,0,3/9/2020,COVID-19,Local 32BJ SEIU,Temporary Plant Layoff
4,5/4/2020,2019-1602,Temporary Plant Layoff,"NRG Energy, Inc. (Green Mountain Energy NYC Of...","16 Madison Square Park West, 12th Floor New Yo...",New York County,(713) 537-2187,Renewable Energy Provider,71,0,Beginning,COVID-19,The employees are not represented by a union.,Temporary Plant Layoff
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1163,3/17/2020,2019-0398,Temporary Plant Closing,100 Hospitality LLC,"100 Walt Whitman Road Huntington, NY 11746",Suffolk County,(516) 627- 0021,Restaurant,68,0,3/17/2020,COVID-19,The employees are not represented by a union.,Temporary Plant Closing
1164,3/13/2020,2019-0366,Temporary Plant Layoff,"US Inflight Catering LLC (""dnata"")","45 Rason Road Inwood, NY 11516",Nassau County,(347) 996-8430,Catering business,73,0,3/16/2020,COVID-19,"Local Union 514, Brotherhood of Amalgamated Tr...",Temporary Plant Layoff
1165,3/12/2020,2019-0355,Temporary Plant Layoff,"DO & CO New York Catering, Inc.","149-32 132nd Street Jamaica, NY 11430",Queens County,(718) 529- 4570,Catering,744,744,3/19/2020,COVID-19,"United Food and Catering Workers (UFCW) Union,...",Temporary Plant Layoff
1166,3/17/2020,2019-0397,Temporary Plant Layoff,East Meadow Restaurant Corp.,"284 East Meadow Avenue East Meadow, NY 11554",Nassau County,(516) 627- 0021,Restaurant,30,0,3/17/2020,COVID-19,The employees are not represented by a union.,Temporary Plant Layoff
1167,3/5/2020,2019-0343,Plant Closing,"Modell's II, Inc.",(Modell's Sporting Goods) Support Center 498 ...,New York County,(212) 822-1002,Restaurant,30,0,3/17/2020,COVID-19,"Local 1102 Retail, Wholesale and Department ...",Plant Closing

In [78]:
#county with the most WARN notices
county = df['county'].value_counts()
print(county)

New York County                          457
Kings County                              55
Suffolk County                            51
Queens County                             50
Nassau County                             49
                                        ...
New York/Kings/Queens/Richmond County      1
Bronx/Kings County                         1
New Yok County                             1
Wayne County                               1
Schenectady County                         1
Name: county, Length: 98, dtype: int64

In [49]:
#union or not
df['union'].value_counts()

The employees are not represented by a union                                                                                  866
The employees are not represented by a union.                                                                                 113
New York Hotel & Motel Trades Council, AFL-CIO                                                                                 62
The employees are not represented by a union. Non Union                                                                        20
lUE/CWA Local 81408                                                                                                            10
                                                                                                                             ...
Laundry Distribution and Food Service Joint Board                                                                               1
Teamsters Local 1205; United Service Workers Union Local 355; International Union of Journeymen & Allied Trades, Local 726      1
UFCW Local 2013                                                                                                                 1
The remote employee is not represented by a union.                                                                              1
Local 74 USWU, IUJAT                                                                                                            1
Name: union, Length: 118, dtype: int64

In [50]:
df.loc[df['union'].isin(['The employees are not represented by a union.',
                         'The employees are not represented by a union. Non Union'
                         ]), 'union'] = 'The employees are not represented by a union' 
df['union'].value_counts().reset_index()

                                                 index  union
0         The employees are not represented by a union    999
1       New York Hotel & Motel Trades Council, AFL-CIO     62
2                                  lUE/CWA Local 81408     10
3                                                -----      8
4    Local 32BJ, Service Employees International Union      8
..                                                 ...    ...
111  Laundry Distribution and Food Service Joint Board      1
112  Teamsters Local 1205; United Service Workers U...      1
113                                    UFCW Local 2013      1
114  The remote employee is not represented by a un...      1
115                               Local 74 USWU, IUJAT      1

[116 rows x 2 columns]

In [51]:
df['affected'].sum()

112772

In [60]:
#How many people were affected by a WARN notice by business type?
biz_type = df.groupby(['business_type'])['affected'].agg('sum').sort_values(ascending=False).reset_index()
biz_type

                         business_type  affected
0                           Restaurant     40869
1                                Hotel     15546
2                             Catering      3217
3                Retail clothing store      2696
4                               Retail      2057
..                                 ...       ...
351          Ambulatory Surgery Center         0
352                    Furniture Store         0
353  Physical and Occupational Therapy         0
354                             Museum         0
355           Ophthalmologist/Optician         0

[356 rows x 2 columns]

In [61]:
biz_type.to_csv('../data/biz_type.csv', index=False)

In [53]:
df['county'].value_counts()

New York County                                           601
Nassau County                                              65
Kings County                                               64
Suffolk County                                             63
Queens County                                              58
                                                         ...
Greene County                                               1
Westchester/Rockland County                                 1
Broome/Chemung/Tompkins/Chenango/Otsego/Steuben County      1
Albany/Warren County                                        1
Albany/Saratoga/Warren/Rensselaer/Schenectady County        1
Name: county, Length: 114, dtype: int64

In [54]:
df['company'].value_counts().reset_index()

                                                  index  company
0     Abercrombie & Fitch, abercrombie kids, Hollist...       10
1            A&M Administration LLC dba Charlotte Russe        8
2                   Mid Rockland Imaging Partners, Inc.        7
3     OS Restaurant Services, LLC (Bloomin Brands - ...        7
4                                  Venture Forthe, Inc.        6
...                                                 ...      ...
1122                                  Inn at Fox Hollow        1
1123                               Hawthorne Apple, LLC        1
1124             Madison Restaurant, LLC dba Kappo Masa        1
1125                           Major Dough Soho 463 LLC        1
1126             Gemological Institute of America, Inc.        1

[1127 rows x 2 columns]

In [55]:
df.groupby(['company'])['affected'].agg('sum').sort_values(ascending=False).reset_index()

                                                company  affected
0     Abercrombie & Fitch, abercrombie kids, Hollist...      2696
1     OS Restaurant Services, LLC (Bloomin Brands - ...      2478
2     American Sales Management Organization LLC dba...      1321
3                                         Regal Cinemas      1004
4                                              Zara USA       918
...                                                 ...       ...
1122  Howard Beach Fitness Center dba Limitless Fitness         0
1123                     Saltbae LLC dba Saltbae Burger         0
1124                        Indikitch (5 NYC locations)         0
1125  S.P.E.A.R. Physical and Occupational Therapy PLLC         0
1126                      Karako of Cross Bay Blvd. LTD         0

[1127 rows x 2 columns]

In [56]:
#WARN notices by date
pd.set_option('display.max_rows', 84)
date = df['notice_date'].value_counts().reset_index().rename(columns = {'index': 'date', 'notice_date': 'count'})
date = date[~date['date'].str.contains('2019')]
date

         date  count
0   3/25/2020     69
1   3/20/2020     66
2   3/23/2020     64
3   3/27/2020     63
4   3/31/2020     60
5   3/18/2020     56
6   3/30/2020     54
7   3/26/2020     52
8   3/19/2020     51
9   4/17/2020     49
10   4/3/2020     48
11   4/2/2020     41
12  3/24/2020     41
13  3/17/2020     39
14   4/8/2020     39
15   4/6/2020     38
16  3/16/2020     33
17   4/1/2020     28
18  4/10/2020     25
19  4/13/2020     21
20   4/7/2020     21
21  4/22/2020     17
22  4/16/2020     16
23  4/14/2020     15
24  4/27/2020     14
25  3/21/2020     12
26  4/18/2020     12
27  4/28/2020     11
28  4/15/2020     10
29  3/15/2020     10
30   4/9/2020     10
31  4/30/2020      8
32  4/23/2020      8
33  3/29/2020      8
34  4/21/2020      8
35  4/20/2020      8
36  4/29/2020      7
37  4/24/2020      6
38   2/4/2020      6
39   5/4/2020      4
40  3/14/2020      4
41  3/22/2020      4
42  2/13/2020      3
43  1/21/2020      3
44  1/23/2020      3
45   5/1/2020      3
46   2/6/2020      3
47   3/2/2020      3
49  2/26/2020      2
50  2/28/2020      2
51  1/24/2020      2
52  3/11/2020      2
53   3/3/2020      2
54   3/4/2020      2
55  3/13/2020      2
56  3/12/2020      2
57  3/28/2020      2
58  1/16/2020      2
59   3/5/2020      2
60  2/20/2020      1
61  1/30/2020      1
62   1/8/2020      1
63   5/5/2020      1
64   4/4/2020      1
65   2/5/2020      1
66  4/26/2020      1
67  2/19/2020      1
69  2/11/2020      1
70  1/10/2020      1
71   1/7/2020      1
73  1/12/2020      1
74  1/14/2020      1
75   1/6/2020      1
76  1/17/2020      1
77  3/10/2020      1
78  2/27/2020      1
79  1/29/2020      1
80  1/13/2020      1
81  2/24/2020      1
82  2/18/2020      1
83  2/12/2020      1
84  1/31/2020      1
85   3/6/2020      1

In [58]:
date.to_csv('../data/by_date.csv', index=False)

In [59]:
df.groupby(['notice_date'])['affected'].agg('sum').sort_values(ascending=False).reset_index()

   notice_date  affected
0    3/25/2020      7229
1    3/18/2020      6855
2    3/31/2020      6043
3    3/23/2020      5761
4    3/19/2020      5466
..         ...       ...
81   2/12/2020         7
82   11/4/2019         2
83    3/6/2020         2
84   1/30/2020         2
85   1/17/2020         1

[86 rows x 2 columns]