In [1]:
# import pandas

import pandas as pd
import numpy as np

In [2]:
# read csv in
df = pd.read_csv('../data/warn_2019.csv')
df.head(15)

,notice_date,event_number,reason,company,address,county,phone,business_type,affected,total_employees,layoff_date,dislocation,union,classification
0,12/24/2019,2019-0198,Plant Layoff,"Timeless Décor, LLC (LCO Destiny DBA Timeless ...","22419 Fisher Road Watertown, NY 13601",Jefferson County,(315) 782-5759,A supplier of Picture Frames,45,81,The,Economic,The employees are not represented by a union.,Plant layoff
1,12/23/2019,2019-0102,Plant Closing,Barneys New York,"575 5th Avenue New York, NY 10017",New York County,(212) 450-8606,Retail,165,165,Employment,Economic,New York New Jersey Regional Joint Board Worke...,Plant Closing
2,12/20/2019,2019-0066,Plant Closing,"General Parts Distribution, LLC d/b/a Carquest...","215 Business Park Drive Armonk, NY 10504",Westchester County,(860) 375-1514,Auto parts distribution,80,80,Of,Economic,Teamsters Local 202,Plant Closing
3,12/20/2019,2019-0092,Plant Closing,"Somos Healthcare Providers, Inc.","519 Eighth Avenue, 14th Floor New York, NY 10118",New York County,(516) 642-4068,Community care and advocate community provider,130,130,Separations,New York State contract expired,The employees are not represented by a union.,Plant Closing
4,12/20/2019,2019-0197,Plant Unit Closing,"Regeneron Healthcare Solutions, Inc., a wholly...","1 Rockwood Rd. Sleepy Hollow, NY 10591",Westchester County,(914) 847-7128,Biotechnology company,15,0,2/18/2020,Termination of all field and supporting staff ...,The employees are not represented by a union.,Plant Unit Closing
5,12/12/2019,2019-0199,Plant Closing,Spacious Technologies LLC subsidiary of WeWork...,"134 Fifth Avenue New York, NY 10011",New York County,(646) 809-4474,Commercial real estate company,48,48,March,Economic,The employees are not represented by a union.,Plant Closing
6,12/12/2019),2019-0147,Plant Layoff,"WeWork Companies, Inc.","115 W 18th St. New York, NY 10011",New York County,(646) 809-4474,Commercial real estate company,423,922,Separations,Economic,The employees are not represented by a union.,Plant Layoff
7,12/17/2019,2019-0196,Plant Layoff,Eastman Kodak Company (Eastman Business Park),"1669 Lake Avenue Rochester, NY 14650",Monroe County,(585) 724-6615,Photographic equipment and Supplies,3,0,March,Economic,The employees are not represented by a union.,Plant Layoff
8,12/10/2019,2019-0195,Plant Layoff,Eastman Kodak Company (Kodak Office),"343 State Street Rochester, NY 14650",Monroe County,(585) 724-6615,Photographic equipment and Supplies,1,178,March,Economic,The employee is not represented by a union.,Plant Layoff
9,12/12/2019,2019-0194,Plant Closing,"Eyeview, Inc.","33 East 33rd Street, 6th Floor New York, NY 10016",New York County,(646) 714-1855,Video marketing technology company,61,61,12/31/2019,Economic,The employees are not represented by a union.,Plant Closing
10,12/12/2019,2019-0189,Plant Layoff,Evolent Health LLC,"519 8th Ave, Suite 14 New York, NY 10018",New York County,(571) 386-1990,a company providing an integrated value-based ...,49,0,March,Loss of contract with SOMOS Healthcare Provide...,The employees are not represented by a union.,Plant Layoff
11,12/10/2019,2019-0190,Plant Layoff,"HCL America, Inc.","800 Phillips Road Webster, NY 14580",Monroe County,(908) 731-2256,Leading global IT services company,16,217,March,Economic,The employees are not represented by a union.,Plant Layoff
12,11/19/2019,2019-0193,Plant Layoff,Eastman Kodak Company (Kodak Office),"343 State Street Rochester, NY 14650",Monroe County,(585) 724-6615,Photographic equipment and Supplies,1,0,February,Economic,The remote employee is not represented by a un...,Plant Layoff
13,9/30/2019,2019-0192,Plant Closing,"PB&J Group, LLC (dba Candle 79)","154 East 79th Street New York, NY 10075",New York County,(718) 679-5214,Organic restaurant,48,48,12/31/2019,Economic,The employees are not represented by a union.,Plant Closing
14,12/9/2019,2019-0186,Plant Layoff,GBG USA Inc. (Global Brands Group),"Corporate Headquarters 350 5th Ave New York, N...",New York County,(646) 839-7614,Apparel store offices,83,340,Separations,Economic,The employees are not represented by a union.,Plant Layoff

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 300 entries, 0 to 299
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   notice_date      300 non-null    object
 1   event_number     300 non-null    object
 2   reason           300 non-null    object
 3   company          300 non-null    object
 4   address          300 non-null    object
 5   county           300 non-null    object
 6   phone            300 non-null    object
 7   business_type    300 non-null    object
 8   affected         300 non-null    int64
 9   total_employees  300 non-null    object
 10  layoff_date      300 non-null    object
 11  dislocation      300 non-null    object
 12  union            300 non-null    object
 13  classification   300 non-null    object
dtypes: int64(1), object(13)
memory usage: 35.2+ KB

In [15]:
df = df.fillna(0)

In [18]:
df = df[df['total_employees'] != 'To'].copy()

In [21]:
df = df[df['total_employees'] != 'Currently'].copy()

In [22]:
df['affected'] = df['affected'].astype(int)
df['total_employees'] = df['total_employees'].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 297 entries, 0 to 299
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   notice_date      297 non-null    object
 1   event_number     297 non-null    object
 2   reason           297 non-null    object
 3   company          297 non-null    object
 4   address          297 non-null    object
 5   county           297 non-null    object
 6   phone            297 non-null    object
 7   business_type    297 non-null    object
 8   affected         297 non-null    int64
 9   total_employees  297 non-null    int64
 10  layoff_date      297 non-null    object
 11  dislocation      297 non-null    object
 12  union            297 non-null    object
 13  classification   297 non-null    object
dtypes: int64(2), object(12)
memory usage: 34.8+ KB

In [23]:
#reason for closing
df['reason'].unique()

array(['Plant Layoff', 'Plant Closing', 'Plant Unit Closing',
       'Possible Plant Closing', 'Possible Plant Layoff',
       'Possible PlantClosing', 'Temporary Plant Unit Closing',
       'Possible Plant Layoff/Closing', 'Plant Closings'], dtype=object)

In [24]:
df['reason'].value_counts()

Plant Closing                    180
Plant Layoff                      92
Plant Unit Closing                16
Possible Plant Closing             4
Possible Plant Layoff              1
Plant Closings                     1
Possible Plant Layoff/Closing      1
Temporary Plant Unit Closing       1
Possible PlantClosing              1
Name: reason, dtype: int64

In [26]:
df.loc[df['reason'].isin(['Plant Closing', 
                          'Plant Unit Closing', 
                          'Possible Plant Closing', 
                          'Plant Closings', 
                          'Possible PlantClosing']), 'reason'] = 'Plant Closing'

df.loc[df['reason'].isin(['Plant Layoff', 
                          'Possible Plant Layoff'
                          ]), 'reason'] = 'Plant Layoff'

In [27]:
reasons = df['reason'].value_counts().reset_index().rename(columns = {'index': 'reason', 'reason': 'count'})
reasons

                          reason  count
0                  Plant Closing    202
1                   Plant Layoff     93
2  Possible Plant Layoff/Closing      1
3   Temporary Plant Unit Closing      1

In [28]:
reasons.to_csv('../data/reasons_2019.csv', index=False)

In [29]:
df[df['reason'] == 'Plant Closing']

,notice_date,event_number,reason,company,address,county,phone,business_type,affected,total_employees,layoff_date,dislocation,union,classification
1,12/23/2019,2019-0102,Plant Closing,Barneys New York,"575 5th Avenue New York, NY 10017",New York County,(212) 450-8606,Retail,165,165,Employment,Economic,New York New Jersey Regional Joint Board Worke...,Plant Closing
2,12/20/2019,2019-0066,Plant Closing,"General Parts Distribution, LLC d/b/a Carquest...","215 Business Park Drive Armonk, NY 10504",Westchester County,(860) 375-1514,Auto parts distribution,80,80,Of,Economic,Teamsters Local 202,Plant Closing
3,12/20/2019,2019-0092,Plant Closing,"Somos Healthcare Providers, Inc.","519 Eighth Avenue, 14th Floor New York, NY 10118",New York County,(516) 642-4068,Community care and advocate community provider,130,130,Separations,New York State contract expired,The employees are not represented by a union.,Plant Closing
4,12/20/2019,2019-0197,Plant Closing,"Regeneron Healthcare Solutions, Inc., a wholly...","1 Rockwood Rd. Sleepy Hollow, NY 10591",Westchester County,(914) 847-7128,Biotechnology company,15,0,2/18/2020,Termination of all field and supporting staff ...,The employees are not represented by a union.,Plant Unit Closing
5,12/12/2019,2019-0199,Plant Closing,Spacious Technologies LLC subsidiary of WeWork...,"134 Fifth Avenue New York, NY 10011",New York County,(646) 809-4474,Commercial real estate company,48,48,March,Economic,The employees are not represented by a union.,Plant Closing
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,1/6/2019,2018-0215,Plant Closing,Morrison Healthcare Food and Nutrition Service...,"462 Grider Street Buffalo, NY 14215",Erie County,(914) 426-8240,National food and nutrition services company,172,172,4/6/2019,Contractual Loss,"CSEA Local 1000, AFSCME, AFL-CIO",Plant Closing
296,12/27/2018,2018-0213,Plant Closing,Kmart Store (Unit 07677),"121 Bolivar Road Wellsville, NY 14895",Allegany County,(847) 286-1427,Retail Store,88,88,Employment,Economic,The employees are not represented by a union.,Plant Closing
297,12/27/2018,2018-0214,Plant Closing,Kmart Store (Unit 04928),"49 Dix Avenue Ext. Queensbury, NY 12804",Warren County,(847) 286-1427,Retail Store,60,60,Employment,Economic,The employees are not represented by a union.,Plant Closing
298,12/27/2018,2018-0211,Plant Closing,"Sears, Roebuck and Co. Full Line Store (Unit 0...","10 Miracle Mile Dr. Rochester, NY 14623",Monroe County,(847) 286-1427,Retail Store,70,70,Employment,Economic,The employees are not represented by a union.,Plant Closing
299,12/28/2018,2018-0210,Plant Closing,"St. Lawrence Health Alliance, Inc.","3 Lyon Place Ogdensburg, NY 13669",St. Lawrence County,(315) 713-6612,Healthcare Services,72,72,3/31/2019,The Claxton-Hepburn Medical Center will assume...,The employees are not represented by a union.,Plant Closing

In [30]:
#type of businesses with the most WARN notices
df['business_type'].unique()

array(['A supplier of Picture Frames', 'Retail',
       'Auto parts distribution',
       'Community care and advocate community provider',
       'Biotechnology company', 'Commercial real estate company',
       'Photographic equipment and Supplies',
       'Video marketing technology company',
       'a company providing an integrated value-based care platform for the nations leading providers and payers',
       'Leading global IT services company', 'Organic restaurant',
       'Apparel store offices',
       'Human services non-profit organization with programs that help a large needy population in the New York metropolitan area.',
       'Cheese manufacturer', 'Restaurant', 'Acute Care Hospital',
       'Paper mill machinery manufacturer', 'Health Plans',
       'Wholesale grocer', 'Packaging and labeling services',
       'Private equity', 'Food products supplier',
       'Dental equipment distribution and manufacturing',
       'Independent software testing & Quality Assurance Service',
       'Manufacturing operations',
       'Providing temporary and long-term housing accommodations for relocated individuals and corporate officials.',
       'Cleaning Services',
       'Provides airline, aircraft, airport services',
       'Online grocery services', 'Hotel',
       'American premium channel owned by the Home Box Office, Inc.',
       'American ingredient-and-recipe meal kit service', 'Power station',
       'Retail store', 'Retail Store', 'Global semiconductor company',
       'Commercial printing company',
       'A global defense technology leader',
       'Health Care Service Contracts', 'Food service operations unit',
       'Bank', 'Theater company',
       'Fincanial services (US Cash Equities Division)',
       'Tissue manufacturing and conversion company',
       'Medical equipment manufacturer',
       'Full-service marine management company', 'Insurance',
       'American premium channel', 'Full service restaurant',
       'Full service transportation business geared towards the physically challenged.',
       'Media services', 'Health claims processing',
       'Professional Employer Organization', 'Data Processing Services',
       'Tile and terrazzo contactors',
       "An e-commerce-driven apparel subsidiary of Walmart headquartered in New York City that designs and sells men's clothing.",
       'Bar in the Hudson Hotel', 'Beer and Ale Merchant Wholesalers',
       'Restaurant and Entertainment', 'Health and fitness center',
       'Hematology and medical oncology care for patients with cancer and blood disorders.',
       'Regulation of agricultural marketing',
       'Licensed home care agency',
       'National network of PreK-12 private, secular schools',
       'Providing investment management and research services',
       "Women's apparel", 'Newspaper print and distribution',
       'Broadway Theater', 'Appliance Manufacturer', 'Home Health Care',
       'Animal hospital', 'Manufacturer of capacitors',
       'American corrugated packaging company.', 'Transmission Company',
       'Custom architectural woodwork & millwork manufacturing',
       'Global investment banking', 'Plastic Production Manufacturer',
       'Supermarket', 'Banking',
       'Provides unique parking management products and services',
       'Metal stamping service',
       'Produce high-quality label and packaging products', 'Hospital',
       'Recreational boat and yacht dealer', 'Home care services',
       'Packaged Foods',
       'Provides news programming and support services for Verizon Corporate Services Group Inc.’s FiOSl News network',
       'Housekeeping Services', 'Wax, Laser, Brows in a hi-tech studio',
       'Support and professional services focused on national security customers.',
       'Pre-School', 'Company research & investing information', 'School',
       'Gourmet foods and fine food gifts',
       'Prepare and distribute meal kits', 'Call center',
       'Internet marketing service', 'Pharmaceutical company',
       'Pickup, delivery, dry cleaning, and laundry services.',
       'Transportation service provider',
       'Provides transportation throughout the five boroughs of NYC for people with disabilities.',
       'Finance',
       'Retails chemical-free, natural, organic skin care, professional makeup',
       'Wine and Distilled Alcoholic Beverage Merchant Wholesalers',
       'Global manufacturing services company.',
       'Personal care aides and certified home health care aides',
       'Wholesale distribution fresh fish',
       'Warehouse - Frozen, parishable, and non-parishable foods',
       'Provider of care for youth and families with a wide range of emotional and behavioral challenges.',
       'Graphic Design Services',
       'Manufacturing custom designed metal parts & fasteners',
       'Large  entertainment center with bowling, a game room, live music & a modern  American gastropub.',
       'Autographed  sports collectibles from the greatest teams and the best athletes in sports.',
       'Merchandising products in Grocery Stores',
       'British  multinational men & woman fashion retailer',
       'Clothing Store', 'Pharmaceutical preparations',
       'Underground zinc mine', 'Hotel services',
       'Vegan/Organic Restaurant',
       'Engine, Turbine and Power Transmission Manufacturing',
       'IT service management', 'Food Service Contractors',
       'Inbound Call Center', 'Machining manufacturer',
       'Wired Telecommunications Carriers',
       'Non-profit organization dedicated to applying professional and financial resources toward improving the lives of people.',
       'College', 'Perform ES/Custodial Services', 'Mailing Services',
       'School for children with autism and special needs',
       'The Rockefeller Foundation launched 100 Resilient Cities to help cities around the world become more resilient to the challenges of the 21st century.',
       'Provides food service, facilities and uniform services to hospitals, universities, school districts, stadiums and other businesses.',
       'Advertising Agency',
       'Dutchess County Public Transit bus system operator',
       'Affordable fulfillment center with many fulfillment warehouses',
       'Food Service Contractor', 'Ballroom-style music venue',
       'Provides food service, facilities and uniform services to hospitals, universities, school districts, stadiums and other businesses around the world',
       'Provides a range of Internet services to small businesses',
       'Provides manufactured point of purchase displays for retail and consumer goods companies.',
       'Produces photo-sensitive products for the screen printing industry',
       'Food Services/Delivery',
       'Wine and Distilled Alcoholic Beverage Merchant Wholesalers and Advertising Agency',
       'Inbound Call Center; Customer Service, Technical Support',
       'Food Services', 'Fingernails, Artificial business',
       'Engages in creating, gathering, and directing pieces of data to form management tools',
       'Clothing Retail store', 'Self-service laundries',
       'Provides food service, facilities and uniform services to hospitals, universities, school districts, stadiums and other businesses',
       'Manufactures headwear, apparel, and accessories for men, women, youth, and kids',
       'Vocational Rehabilitation and Day Habilitation Transportation Services Dept.',
       'Ophthalmic Goods Manufacturing', 'Insurance company',
       'General Freight Trucking, Local',
       'Manufactures in-stock uniforms and sublimated garments.',
       'Commercial printer', 'Fingernails, Artificial Business',
       'Luxury home décor', 'Computer Programming Services',
       'Construction project management',
       'Unloading services with Union Pacific/Cold Connect.',
       'Cabin cleaning services at Delta Airlines at JFK International Airport. Terminals 2 and 4',
       'Retail pet store', 'Hospitality services',
       'Warehouse Distribution service',
       'Offers directory of shows, tickets, and discounts across the U.S.',
       'Nursing home', 'Health insurance market',
       'Multinational mass media and information firm',
       'Automobile manufacturer and retailer.', 'Beauty school',
       'Managed Long-Term Care (MLTC)', 'Pharmaceuticals (production)',
       'Telecommunications (Billing Inquiry Call Center Operations)',
       'Property management company',
       'National food and nutrition services company',
       'Healthcare Services'], dtype=object)

In [31]:
df['business_type'].value_counts().reset_index()

                                                 index  business_type
0                                           Restaurant             20
1                  Photographic equipment and Supplies             19
2                                         Retail store             10
3                                         Retail Store              8
4    American premium channel owned by the Home Box...              7
..                                                 ...            ...
174  Provides transportation throughout the five bo...              1
175                     Warehouse Distribution service              1
176                                     Clothing Store              1
177                     Ophthalmic Goods Manufacturing              1
178  Manufacturing custom designed metal parts & fa...              1

[179 rows x 2 columns]

In [32]:
df['dislocation'].value_counts().reset_index().rename(columns={'index': 'dislocation', 'dislocation': 'count'})

                                          dislocation  count
0                                            Economic    171
1                                              Merger     11
2   Relocation of Corporate Headquarters to Nashvi...      6
3                                    Loss of contract      6
4                                       Contract Loss      4
..                                                ...    ...
83                               Sale to Cassena Care      1
84  Termination of contract with St. James Mercy H...      1
85                    New York State contract expired      1
86                                      Contract loss      1
87                    Filed for Chapter 11 Bankruptcy      1

[88 rows x 2 columns]

In [33]:
#union or not
df['union'].value_counts()

The employees are not represented by a union.                          224
The employee is not represented by a union.                              9
International Brotherhood of Teamsters, Local 553                        2
New York Hotel and Motel Trades Council, AFL-CIO                         2
Retail, Wholesale and Department Store Union (RWDSU/UFCW) Local 338      1
                                                                      ...
Teamsters Local 687                                                      1
UNITE HERE, Local 100                                                    1
The affected employee is not represented by a union.                     1
Local Union No. 81408 of the IUE/CWA International Union                 1
Radio and Television Broadcast Engineers Union Local 1212 (IBEW)         1
Name: union, Length: 64, dtype: int64

In [35]:
df.loc[df['union'].isin(['The employees are not represented by a union.',
                         'The employee is not represented by a union.']), 'union'] = 'The employees are not represented by a union' 
df['union'].value_counts().reset_index()

                                                index  union
0        The employees are not represented by a union    233
1   International Brotherhood of Teamsters, Local 553      2
2    New York Hotel and Motel Trades Council, AFL-CIO      2
3   Retail, Wholesale and Department Store Union (...      1
4                   Communications Workers of America      1
..                                                ...    ...
58                        Teamsters Local 264, I.B.T.      1
59                                Teamsters Local 687      1
60                              UNITE HERE, Local 100      1
61  The affected employee is not represented by a ...      1
62  Radio and Television Broadcast Engineers Union...      1

[63 rows x 2 columns]

In [42]:
#How many people were affected by a WARN notice by business type?
biz_type = df.groupby(['business_type'])['affected'].agg('sum').sort_values(ascending=False).reset_index()
biz_type

                                         business_type  affected
0                                 Hospitality services      1764
1                                           Restaurant      1307
2                                              College       857
3                                         Retail store       685
4                      Transportation service provider       650
..                                                 ...       ...
174                                  Luxury home décor         5
175                                     Private equity         3
176  Wine and Distilled Alcoholic Beverage Merchant...         3
177  Engages in creating, gathering, and directing ...         2
178                                         Pre-School         0

[179 rows x 2 columns]

In [43]:
biz_type.to_csv('../data/biz_type_2019.csv', index=False)

In [37]:
df['company'].value_counts().reset_index()

                                                 index  company
0                 Eastman Kodak Company (Kodak Office)       12
1                             Goldman, Sachs & Co. LLC        6
2                                Home Box Office, Inc.        3
3                           Banfi Products Corporation        3
4           CONMED Corporation and Buffalo Filter, LLC        3
..                                                 ...      ...
259                            Premier Paratransit LLC        1
260             Ibase Operations Corp. 'dba' Qualitest        1
261  Empire State Brewing Corp. d/b/a Heartland Bre...        1
262                              POP Displays USA, LLC        1
263                            Fluor Enterprises, Inc.        1

[264 rows x 2 columns]

In [38]:
df.groupby(['company'])['affected'].agg('sum').sort_values(ascending=False).reset_index()

                                               company  affected
0                          The College of New Rochelle       857
1                         Isabella Visiting Care, Inc.       569
2                                    ABM Aviation Inc.       528
3                  PrimeFlight Aviation Services, Inc.       450
4    Centerplate at the New York Racing Association...       441
..                                                 ...       ...
259  Macy's Systems and Technology, Inc. (MTECH Fie...         1
260                Macy's Systems and Technology, Inc.         1
261                              Eastman Kodak Company         1
262  Doubletree Suites by Hilton Hotel New York Cit...         1
263         Community Development Institute Head Start         0

[264 rows x 2 columns]